mule/nexus-adapter-runtime/src/main/mule/nexus-adapter-runtime.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <configuration-properties doc:name="Configuration properties" file="properties/config.yaml"/>
    <http:listener-config name="nexus-execution-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"></http:listener-connection>
    </http:listener-config>
    <apikit:config api="resource::4124ea75-de88-403c-87d6-2490bbf0be12:nexus-execution-api:1.0.0-SNAPSHOT:oas:zip:nexus-execution-api.yaml" httpStatusVarName="httpStatus" name="nexus-execution-api-config" outboundHeadersMapName="outboundHeaders"></apikit:config>
    <http:request-config name="Request-config">
        <http:request-connection host="${request.host}" port="${request.port}"></http:request-connection>
    </http:request-config>
    <http:request-config name="HTTP_Request_Orchestrator">
        <http:request-connection host="${orch.host}" port="${orch.port}"></http:request-connection>
    </http:request-config>
    <flow name="nexus-execution-api-main">
        <http:listener config-ref="nexus-execution-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="nexus-execution-api-config"></apikit:router>
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="nexus-execution-api-console">
        <http:listener config-ref="nexus-execution-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="nexus-execution-api-config"></apikit:console>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\execution-task:application\json:nexus-execution-api-config">
        <set-variable doc:id="agjnsd" doc:name="httpStatus" value="202" variableName="httpStatus"></set-variable>
        <set-payload doc:id="kztwno" doc:name="Set payload" value="{&quot;status&quot;: &quot;Accepted&quot;}"></set-payload>
        <set-variable doc:id="pqgvrf" doc:name="originalPayload" value="payload" variableName="originalPayload"></set-variable>
        <async>
            <choice doc:id="fjwwpm" doc:name="Choice">
                <when doc:name="When" expression="payload.target_system == &quot;CRM&quot;">
                    <flow-ref doc:name="CRM" name="crm-subflow"></flow-ref>
                </when>
                <when doc:name="When" expression="payload.target_system == &quot;BILLING&quot;">
                    <flow-ref doc:name="Billing" name="billing-subflow"></flow-ref>
                </when>
                <when doc:name="When" expression="payload.target_system == &quot;EMAIL&quot;">
                    <flow-ref doc:name="Email" name="email-subflow"></flow-ref>
                </when>
                <otherwise>
                    <logger doc:id="axipbb" doc:name="Logger" message="unknown value is passed"></logger>
                </otherwise>
            </choice>
        </async>
        <logger doc:name="flow success" level="INFO" message="&quot;flow success&quot;"></logger>
        <flow-ref doc:name="Flow Reference to Webhook" name="webhook-callback-subflow"></flow-ref>
        <error-handler>
            <on-error-propagate doc:name="On-error-propagate" type="ANY">
                <ee:transform doc:id="gcazxa" doc:name="Construct Failure Payload">
                    <ee:message>
                        <ee:set-payload doc:id="zmpfaa" doc:name="Set payload"><![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                        step_id: vars.originalPayload.step_id,
                        intent_id: vars.originalPayload.intent_id,
                        status: "FAILED",
                        error_message: error.description default "Target system unavailable or timed out",
                        payload_snapshot: vars.originalPayload
                    }]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <sub-flow name="crm-subflow">
        <logger doc:id="wfqalc" doc:name="flow started" message="#[&quot;crm subflow started&quot;]"></logger>
        <http:request config-ref="Request-config" doc:id="ierlxb" doc:name="Request" path="/crm/customers/{id}">
            <http:body><![CDATA[payload]]></http:body>
            <http:uri-params><![CDATA[#[%dw 2.0
output application/java
---
{
    "id" : payload.payload.customer_id
}]]]></http:uri-params>
        </http:request>
        <logger doc:id="njmfaq" doc:name="flow ended" message="#[&quot;crm subflow started&quot;]"></logger>
    </sub-flow>
    <sub-flow name="billing-subflow">
        <logger doc:id="tdbhje" doc:name="billing started" message="#[&quot;billing subflow started&quot;]"></logger>
        <http:request config-ref="Request-config" doc:id="rchbil" doc:name="Request" method="POST" path="/billing/refunds">
            <http:body><![CDATA[#[%dw 2.0
output application/json
---
{
  "order_id" : payload.payload.order_id ,
  "amount" : payload.payload.amount
}]]]></http:body>
        </http:request>
        <logger doc:id="fyeges" doc:name="billing ended" message="#[&quot;billing subflow ended&quot;]"></logger>
    </sub-flow>
    <sub-flow name="email-subflow">
        <logger doc:id="yevvjn" doc:name="email start" message="#[&quot;email subflow started&quot;]"></logger>
        <http:request config-ref="Request-config" doc:id="cnqyet" doc:name="Request" method="POST" path="/notifications/email">
            <http:body><![CDATA[#[{
  "to": payload.payload.email,
  "subject": payload.payload.subject,
  "body": payload.payload.body
}]]]></http:body>
        </http:request>
        <logger doc:id="qpxqkb" doc:name="email ended" message="#[&quot;email subflow ended&quot;]"></logger>
    </sub-flow>
    <sub-flow name="webhook-callback-subflow">
        <ee:transform doc:id="mgscjq" doc:name="Transform">
            <ee:message>
                <ee:set-payload doc:id="znkkzy" doc:name="Set payload"><![CDATA[%dw 2.0
output application/json
---
{
    step_id: vars.originalPayload.step_id,
    intent_id: vars.originalPayload.intent_id,
    status: "COMPLETED",
    error_message: null,
    payload_snapshot: payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="HTTP_Request_Orchestrator" doc:id="hdqudg" doc:name="Request" method="POST" path="/api/webhook/step-complete"></http:request>
    </sub-flow>
    <sub-flow name="webhook-failure-subflow">
        <ee:transform doc:name="Construct Failure Callback JSON" doc:id="yeozep" >
            <ee:message >
                <ee:set-payload doc:name="Set payload" doc:id="rzpbmy" ><![CDATA[%dw 2.0
output application/json
---
{
    step_id: vars.originalPayload.step_id,
    intent_id: vars.originalPayload.intent_id,
    status: "FAILED",
    error_message: error.description default "Unknown Exception encountered inside Mule runtime component execution.",
    payload_snapshot: { "failed_stage": error.failingComponent default "Unknown" }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request doc:name="Request" doc:id="hrdnpa" config-ref="HTTP_Request_Orchestrator" method="POST" path="/api/webhook/step-complete"/></sub-flow>
</mule>
